{% extends "main/base_main.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'timer.css' %}">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" crossorigin="anonymous"></script>

<!--board html-->
<head>
    <meta charset="UTF-8">
    {% comment %} <meta http-equiv="X-UA-Compatible" content="IE=edge"> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> {% endcomment %}
    {% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> {% endcomment %}

    <title>MyPetDiary</title>
</head>
<style>
    .main_body{
      display: flex;
      background-color: whitesmoke; 
      margin-right: 20px; 
      margin-left: 20px; 
      margin-top: 10px; 
      margin-bottom: 10px;
      height: 500px; 
    }
    .contour{
        height: 2px; 
        background-color: lightgrey;
    }
  </style>

<body>
    <div class="main_body">
        <div class="container">
            <br>
            <div>
                <button type="button" class="btn btn-default pull-right" onclick="location.href='../' ">
                    <b>📜목록</b>
                </button>
                <button type="button" class="btn btn-default pull-right" onclick="location.href='../upload/' ">
                    <b>✋글쓰기</b>
                </button>
            </div>

            <div>
                <br><br>
                <div class="contour"></div>
                <br>
                <b style="font-size:35px">{{feed.title}}</b>
                <div></div>
                <button type="button" aria-label="Left Align">
                    <b>작성자:  
                        {% if not request.user.username %}
                            알 수 없음
                        {% else %}
                            {{request.user.username}}
                        {% endif %}
                    </b>                
                </button>
                <div style="height: 0px; background-color: black"></div>
                <p> time: {{feed.upload_time}}</p>
                <div class="contour"></div>
                <br><br>
                <p>
                    {% if not feed.content %}
                        내용 없음
                    {% else %}
                        {{feed.content}}
                    {% endif %}
                </p>  
            </div>          
        </div>
    </div>

    {% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> {% endcomment %}
</body>

{%endblock%}