{% extends "main/main_base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'bulletin.css' %}" />

<div class="row" style="color:white;">
    <div>
        <div style="height:140px"></div>
        <h1 class="text-center">
            <p style="font-size: 40px;">Community</p>
        </h1>

    
        <a href='upload_post/' id="btn_write" class="btn btn-outline-light align-self-end mx-2">
            글쓰기
        </a>
        
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th width="50px">번호</th>
                    <th width="200px">제목</th>
                    <th width="100px">글쓴이</th>
                    <th width="150px">시간</th>
                    <th width="70px">조회 수</th>
                </tr>
            </thead>
            <tbody>
                {% for post in post_list%}
                <tr>
                    <td width="50px" style="font-size:10px;">{{post.id}}</td>
                    <td width="200px"><a href="./{{post.id}}" style="font-size:20px; color:white;"><b>{{post.title}}</b></a></td>
                    <td width="100px" style="font-size:15px;">{{post.user.username}}</td>
                    <td width="150px" style="font-size:10px;">{{post.write_date}}</td>
                    <td width="50px" style="font-size:15px;">{{post.view_count}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        
    
        <div style="height:5px"></div>
        <div class="row justify-content-end my-3" style="margin-left: 0.5px ">
            <div class="col-4 input-group" style='margin: 0 auto'>
                <input type="text" class="form-control keyword" value="{{ keyword|default_if_none:'' }}">
                <div class="input-group-append" style="display: flex; flex-flow: row wrap;">
                    <a id="btn_search" class="btn btn-outline-light align-self-end mx-2">검색</a>
                </div>
            </div>
        </div>
    
        <ul class="pagination justify-content-center">
            
            {% if post_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ post_list.previous_page_number}}">◁</a>
            </li>
            {% endif %}

            {% for page_num in page_range %}
                {% if page_num == current_page%}
                    <li class="page-item active "><a class="page-link" href="?page={{page_num}}">{{page_num}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{page_num}}">{{page_num}}</a></li>
                {% endif %}
            {% endfor %}

            {% if post_list.has_next%}
            <li class="page-item">
                <a class="page-link" href="?page={{ post_list.next_page_number}}">▷</a>
            </li>
            {% endif %}

        </ul>
    
    
        <form id="searchForm" method="GET" action="{% url 'bulletin:main' %}">
            <input type="hidden" id="keyword" name="keyword" value="{{ keyword|default_if_none:'' }}">
            <input type="hidden" id="page" name="page" value="{{ page }}">
        </form>
    </div>    
</div>

<script type='text/javascript'>
    $(document).ready(function() {
        $(".page-link").on('click', function() {
            $("#page").val($(this).data("page"));
            $("#searchForm").submit();
        });

        $("#btn_search").on('click', function() {
            console.log('test')
            $("#keyword").val($(".keyword").val());
            $("#page").val(1);  // 검색 버튼을 클릭할 경우 1페이지부터 조회한다.
            $("#searchForm").submit();
        });
    });
</script>

{% endblock %}