{% extends "main/main_base.html" %}
{% block content %}
{% load static %}
<!--jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<link rel="stylesheet" href="{% static 'bulletin.css' %}" />

<div class="row" style="color:white;">
  <div>
    <br>
    <a href='../' id="btn_bulletin" class="btn btn-outline-light align-self-end mx-2">
      목록
    </a>
  
    <div class="contour"></div>

    <form method="POST" class="post-form my-3" enctype="multipart/form-data">
      {% csrf_token %}
    
      <div class="form-group">
        <label for="title">제목</label>
        <input
          type="text"
          class="form-control"
          name="title"
          value=""
        />

        <label for="content">내용</label>
        <textarea class="form-control" id="textbox" name="content" rows="10" value="">              
        </textarea>
        <label for="image">사진</label>
        <input
          type="file"
          class="form-control"
          name="image"
        />
      </div>
        <input type="submit" id="btn_bulletin" href='../' class="btn btn-outline-light align-self-end mx-2" value="저장"/>
      <div><br></div>
    </form>
  </div>
</div>

{%endblock%}