{% extends "main/main_base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<svg class="wave-top" style="position: absolute; z-index: -1; top: 60px; left: 0; width: 100%; opacity:0.1;"  viewBox="0 0 1200 250">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 108.306L50 114.323C100 120.34 200 132.374 300 168.476C400 204.578 500 264.749 600 246.698C700 228.647 800 132.374 900 108.306C1000 84.2382 1100 132.374 1150 156.442L1200 180.51V-8.5451e-06H1150C1100 -8.5451e-06 1000 -8.5451e-06 900 -8.5451e-06C800 -8.5451e-06 700 -8.5451e-06 600 -8.5451e-06C500 -8.5451e-06 400 -8.5451e-06 300 -8.5451e-06C200 -8.5451e-06 100 -8.5451e-06 50 -8.5451e-06H0V108.306Z" fill="#f8f9fa"/>
</svg>
<div id="loader2"></div>
<div class="row row-eq-height" style="z-index: 10; width:100%">
    <div class="col-4" style="height:100%">
        <div class="d-flex flex-column border border-white" style="border-radius: 10px; background: rgba( 0, 0, 0, 0.3 );">
            <div class="p-2" style="border-radius: 10px;"></div>
            <div class="d-flex flex-column" style="border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px;">
                <div id="videoSection" class="card border-0" style="background:transparent;">
                    <video class="card-img-top" id="videoElement"></video>
                    <div class="card-footer bg-dark m-0 p-0" style="background: rgba( 0, 0, 0, 0.0 ) !important;">
                        <a id="submit-button" class="btn btn-danger btn-block" style="width:100%">
                                학습 종료
                        </a>
                    </div>
                    <canvas id="canvas" width="400" height="300" style="display:None;"></canvas>
                </div>
            </div>

            <div class="p-2 bg-light">
                <div class="d-flex flex-column p-2" style="background: white; color:black;">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                        <span>착석 상태</span>
                        <img id="sitting_img" src='{% static "assets/img/happy.png" %}' alt="Responsive image" width="40" height="40">
                    </div>
                    <small id="sitting_text" class="text-muted">
                        -
                    </small>
                </div>
                <div class="bg-light" style="background: linear-gradient(to top, #f8f9fa, 80%, #edeff0); height:5px"></div>

                <div class="d-flex flex-column p-2" style="background: white; color:black;">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                        <span>집중 상태</span>
                        <img id="eyes_img" src='{% static "assets/img/happy.png" %}' alt="Responsive image" width="40" height="40">
                    </div>
                    <small id="eyes_text" class="text-muted">
                        -
                    </small>
                </div>
                <div class="bg-light" style="background: linear-gradient(to top, #f8f9fa, 80%, #edeff0); height:5px"></div>

                <div class="d-flex flex-column p-2" style="background: white; color:black;">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                        <span>자세 상태</span>
                        <img id="neck_img" src='{% static "assets/img/happy.png" %}' alt="Responsive image" width="40" height="40">
                    </div>
                    <small id="neck_text" class="text-muted">
                        -
                    </small>
                </div>
                <div class="bg-light" style="background: linear-gradient(to top, #f8f9fa, 80%, #edeff0); height:5px"></div>
            </div>
            <div class="p-2" style="border-radius: 10px;"></div>
        </div>
    </div>
    <div class="col-8" style="color:white;" >
        <div class="d-flex flex-column" style="height:100%;">
            <div class="d-flex justify-content-center mt-3">
                <p style="font-size: 20px; font: 1em; top:10px">
                    <h2>{{ tag }}</h2>
                </p>
            </div>
            <div class="mb-2 p-2 border-top border-bottom">
                <div class="d-flex justify-content-around">
                    <div class="d-flex flex-column bd-highlight">
                        <div class="d-flex justify-content-center p-2 bd-highlight">경과 시간</div>
                        <div class="align-items-center p-2 bd-highlight"><h2><div id="clock1">--:--:--</div></h2></div>
                    </div>
                    <div class="d-flex flex-column bd-highlight">
                        <div class="d-flex justify-content-center p-2 bd-highlight">공부 시간</div>
                        <div class="align-items-center p-2 bd-highlight"><h1><div id="clock2">--:--:--</div></h1></div>
                    </div>
                    <div class="d-flex flex-column bd-highlight">
                        <div class="d-flex justify-content-center p-2 bd-highlight">흘러간 시간</div>
                        <div class="align-items-center p-2 bd-highlight"><h2><div id="clock3">--:--:--</div></h2></div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column border-0 border-white" style="border-radius: 10px; height:100%; width:100%;">
                <div class="d-flex flex-column" style="border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px;">
                    <div class="d-flex align-items-center justify-content-between text-white px-3 mt-2">
                        <div>Todo List</div>
                        <button id="modalBtn_todo" type="button" class="btn btn-outline-light" style="border-radius: 50%;">+</button>
                    </div>
                </div>

                <div id="todo_list_view" class="col p-3 ">
                    {% for todo in todo_list %}
                        {% include "timer/todo_item.html" %}
                    {% empty %}
                        <div id ="todo_empty">
                            <div class="p-2">
                                <div class="d-flex flex-column">
                                    <div>
                                        표시할 일정이 없습니다. ㅠ_ㅠ
                                    </div>
                                    <small id="rest_time" class="text-muted p-2"style="color:#bdbdbd !important;">새로운 일정을 등록해주세요.</small>
                                </div>
                                <div style="background: rgba( 255, 255, 255, 0.3 ); height:3px"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>


<div id="modalBox_todo" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal_todo_Label">새로운 일정</h5>
            </div>
            <div class="modal-body">
                <form id="modal_todo_form" action="/calendarApp/todo/new" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ todo_form.media }}
                    {% bootstrap_form todo_form %}
                    <div class="modal-footer">
                        <button id="modalBtn_todo_close" type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <input id="modalBtn_todo_submit" type="submit" value="추가" class="btn btn-primary" />
                    </div>
                </form>
                <script>
                    $(function() {
                        $("#modal_todo_form").submit(function(e) {
                            e.preventDefault();
                            var options = {
                                success: function(responseText, statusText, xhr, $form) {
                                    if ($("#todo_empty").length){
                                        $("#todo_empty").remove()
                                    }
                                    $("#todo_list_view").append(responseText);

                                    $('#modalBox_todo').modal('hide');
                                    $('#modal_todo_form')[0].reset();
                                }
                            };
                            $(this).ajaxSubmit(options);
                        });

                    });
                </script>
            </div>
        </div>
    </div>
</div>


<div id="todo_modalBox" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modal_form_section">

            </div>
        </div>
    </div>
</div>
<form id='redirection_form' style="display:None;">
    {% csrf_token %}
</form>
<script src="{% static 'anime_service_bg.js' %}"></script>
<script>
    $(function() {
        let canvas = document.getElementById('canvas');
        let context = canvas.getContext('2d');
        const video = document.querySelector("#videoElement");
        let clock_stop = false;
        let start_time = new Date('{{user_log.start_time|date:"c"}}');
        let neck_point = {{ user_log.textneck_point }};
        let differ2 = 0;

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices
                .getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function (errMsg) {
                    console.log(errMsg);
                });
        }

        function getFrameData() {
            context.drawImage(video, 0, 0, 400, 300);
            return canvas.toDataURL('image/jpeg', 1.0);
        }

        let tag_idx = -1;
        let abnormal_time = {{ user_log.abnormal_time }} ;

        function clock() {// We create a new Date object and assign it to a variable called "time".
            let time = new Date();
            let differ = parseInt((time.getTime() - start_time.getTime()) / 1000);
            let hours = parseInt(differ/3600),
            minutes = parseInt((differ%3600)/60),
            seconds = differ%60;

            if (!clock_stop){
                differ -= abnormal_time;
                differ2 = differ;
            }
            else{
                differ = differ2
            }

            let hours2 = parseInt(differ/3600),
                minutes2 = parseInt((differ%3600)/60),
                seconds2 = differ%60;

            if (clock_stop){
                abnormal_time += 1
            }

            let hours3 = parseInt(abnormal_time/3600),
                minutes3 = parseInt((abnormal_time%3600)/60),
                seconds3 = abnormal_time%60;
            $("#clock1").text(harold(hours) + ":" + harold(minutes) + ":" + harold(seconds));
            $("#clock2").text(harold(hours2) + ":" + harold(minutes2) + ":" + harold(seconds2));
            $("#clock3").text(harold(hours3) + ":" + harold(minutes3) + ":" + harold(seconds3));


            function harold(standIn) {
            if (standIn < 10) {
                standIn = '0' + standIn
            }
                return standIn;
            }
        }

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/service/'
            + "{{ user_log.id|safe }}"
            + '/'
        );

        setTimeout(function() {
            chatSocket.send(JSON.stringify({
                'type': 'ST'
            }));
        }, 2000);

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            d1 = data.type
            if (d1 == 'on'){
                 setTimeout(function() {
                    $("#loader2").css('display', 'none');
                }, 800);
                setInterval(Socket_msg_eyes, 500);
                setInterval(Socket_msg_neck, 1000);
                setInterval(clock, 1000);

            }
            if (d1 == 'dis'){
                console.log(d1)
                // #end time이 기록된 Userlog의 페이지 이동
                location.href='{% url 'service' %}';
            }
            d2 = parseInt(JSON.stringify(data.message));
            if (d1 == 'res_eyes'){
                abnormal_time = parseInt(JSON.stringify(data.abnormal));
                if (d2 != 0){
                    if (d2 == 1){
                        $('#eyes_img').attr("src", '{% static "assets/img/unhappy.png" %}');
                        $('#eyes_text').text('혹시 눈을 감고있나요?');
                    }
                    else{
                        $('#eyes_img').attr("src", '{% static "assets/img/happy.png" %}');
                        $('#eyes_text').text('-');
                    }
                    if (d2 == 2){
                        $('#eyes_img').attr("src", '{% static "assets/img/normal.png" %}');
                        $('#eyes_text').text('-');
                        $('#neck_img').attr("src", '{% static "assets/img/normal.png" %}');
                        $('#neck_text').text('-');
                        $('#sitting_img').attr("src", '{% static "assets/img/unhappy.png" %}');
                        $('#sitting_text').text('화면에 모습이 들어오도록 조정해주세요!');
                    }
                    else{
                        $('#sitting_img').attr("src", '{% static "assets/img/happy.png" %}');
                    }
                    clock_stop = true;
                }
                else{
                    $('#eyes_img').attr("src", '{% static "assets/img/happy.png" %}');
                    $('#sitting_img').attr("src", '{% static "assets/img/happy.png" %}');
                    $('#eyes_text').text('-');
                    $('#sitting_text').text('-');
                    clock_stop = false;
                }
            }
            else if (d1 == 'res_neck'){
                d2 = parseInt(JSON.stringify(data.message));
                if (d2 == 1){
                    //$("#textneck_p").text(neck_point);
                    $('#neck_img').attr("src", '{% static "assets/img/unhappy.png" %}');
                    $('#neck_text').text('자세를 바르게 고쳐주세요!');
                }
                else{
                    $('#neck_img').attr("src", '{% static "assets/img/happy.png" %}');
                    $('#neck_text').text('-');
                }
            }

        };

        function Socket_msg_eyes(){
            chatSocket.send(JSON.stringify({
                'type': 'DE',
                'message': getFrameData(),
            }));
        }
        function Socket_msg_neck(){
            chatSocket.send(JSON.stringify({
                'type': 'DN',
                'message': getFrameData(),
            }));
        }

        // modal
        $("#modalBtn_todo").click(function () {
            $('#modalBox_todo').modal('show');
        });
        $("#modalBtn_todo_close").click(function () {
            $('#modalBox_todo').modal('hide');
        });

        $('#submit-button').click(function() {
            let f = $("#redirection_form")[0];
            f.setAttribute('method', 'post');
            f.setAttribute('action', '/timer/result');

            let obj = document.createElement('input');
            obj.setAttribute('type', 'text');
            obj.setAttribute('name', 'user_log');
            obj.setAttribute('value', '{{ user_log.id }}');
            f.appendChild(obj);

            f.submit();
        });

    });
</script>

{% endblock %}