{% extends "main/main_base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'watch.css' %}">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" crossorigin="anonymous"></script>
<script src="{% static 'watch.js' %}"></script>


<div class="main">

      <div id="date">
      <div class="clock">
      </div>

    <div class="nav">
        <ul>
                {% csrf_token %}
                <select type = "submit" name="Tag" class="selector" data-placeholder="과목선택" data-autocomplete-light-language="ko" data-autocomplete-light-url="http://127.0.0.1:8000/tag/test/" data-autocomplete-light-function="select2"></select>
                <p id = "val0"></p>
                <input type=button id = 'start_time_value' value="공부 시작" onclick = "start_time()">
                <p id = "val1"></p>
                <input type=button id = 'end_time_value' value="공부 종료" onclick = "end_time()">
                <p id = "val2"></p>
                <input type=button id = 'stop_time_value' value="일시정지" onclick = "stop_time()">
                <p id = "val3"></p>
                <input type=button id = 'stop_time_value' value="재시작" onclick = "stop_time()">
                <p id = "val4"></p>
        
            <button type = "button" onclick="location.href= '/timer/timer'" class="nav-link active">Timer</button>
            <button type = "button" onclick="location.href= '/timer/stopwatch'" class="nav-link active">Stopwatch</button>
            
        </ul>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                    }
                }
            }
            return cookieValue;
    }

    function create_user_log(){
        const csrftoken = getCookie('csrftoken');
        const data = { 'tag': 'test' };
        const ajax = axios({
            url: '/timer/create_userlog/',
            method: 'post',
            data: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            }
        });
        ajax.then(function (result) {
            if (result.is_exist == 'true'){
                return true;
            }else{
                return false;
            }
        });
    }

    function create_timelog(event_type){
        const csrftoken = getCookie('csrftoken');
        const data = { 'event_type': event_type };
        const ajax = axios({
            url: '/timer/create_timelog/',
            method: 'post',
            data: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            }
        });
        ajax.then(function (result) {
            console.log(result)      
        });
    }

    function render_time(object, str_type){
        time = new Date();
        cur_time = time.getHours() + ":" + time.getMinutes()+":" + time.getSeconds();
        object.innerHTML= "공부 " + str_type + " 시간은 " + cur_time + "입니다.";
    }

    function start_time(){
        //create user log
        is_exist = create_user_log();

        if(is_exist == false){
            // send data to server
            create_timelog(0);
            // render time below the button
            render_time(document.getElementById("val1"), "시작");
        }

    }

    function end_time(){
        // send data to server
        create_timelog(1);

        // render time below the button
        render_time(document.getElementById("val3"), "시작");
    }

    function stop_time(){
        // send data to server
        create_timelog(2);

        // render time below the button
        render_time(document.getElementById("val2"), "시작");
    }

    function resume_time(){
        // send data to server
        create_timelog(3);
        
        // render time below the button
        render_time(document.getElementById("val4"), "시작");
    }

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" crossorigin="anonymous"></script>

<link href="/static/admin/css/vendor/select2/select2.css" type="text/css" media="screen" rel="stylesheet">
<link href="/static/admin/css/autocomplete.css" type="text/css" media="screen" rel="stylesheet">
<link href="/static/autocomplete_light/select2.css" type="text/css" media="screen" rel="stylesheet">
<script src="/static/admin/js/vendor/select2/select2.full.js"></script>
<script src="/static/autocomplete_light/autocomplete_light.js"></script>
<script src="/static/autocomplete_light/select2.js"></script>
<script src="/static/autocomplete_light/i18n/ko.js"></script>

{% endblock %}