{% extends "main/base_main.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'watch.css' %}">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" crossorigin="anonymous"></script>
<script src="{% static 'watch.js' %}"></script>


<div class="main">

      <div id="date">
      <div class="clock">
      </div>

    <div class="nav">
        <ul>
            <form name="frm10" action = "/timer/watch/" method = 'post'>
                {% csrf_token %}
                <select type = "submit" name="Tag" class="selector" data-placeholder="과목선택" data-autocomplete-light-language="ko" data-autocomplete-light-url="http://127.0.0.1:8000/tag/test/" data-autocomplete-light-function="select2"></select>
                <p id = "val0"></p>
                <input type=button id = 'start_time_value' value="공부 시작" onclick = "start_time()">
                <p id = "val1"></p>
                <input type=button id = 'stop_time_value' value="일시정지" onclick = "stop_time()">
                <p id = "val2"></p>
                <input type=button id = 'end_time_value' value="공부 종료" onclick = "end_time()">
                <p id = "val3"></p>
            </form>
        
            <button type = "button" onclick="location.href= '/timer/timer'" class="nav-link active">Timer</button>
            <button type = "button" onclick="location.href= '/timer/stopwatch'" class="nav-link active">Stopwatch</button>
            
        </ul>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                    }
                }
            }
            return cookieValue;
        }

    function start_time(){
        start_time = new Date();
        start_time_houre = start_time.getHours()+":"+start_time.getMinutes()+":"+start_time.getSeconds();
        document.getElementById("val1").innerHTML="공부 시작 시간은 "+start_time_houre+"입니다.";
        console.log('start_time:', start_time);

        // send data to server
        const csrftoken = getCookie('csrftoken');
        const data = { 'time': start_time_houre };
        const ajax = axios({
            url: '/timer/set_start_time/',
            method: 'post',
            data: JSON.stringify(data),
            headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
        }
        });
        ajax.then(function (result) {
            console.log(result)      
        });
    }

    function end_time(){
        end_time = new Date()
        end_time_houre = end_time.getHours()+":"+end_time.getMinutes()+":"+end_time.getSeconds()
        document.getElementById("val3").innerHTML="공부 종료 시간은"+end_time_houre+"입니다."
        console.log(end_time)
        return end_time
    }
    
    function stop_time(){
        stop_time = new Date()
        stop_time_houre = stop_time.getHours()+":"+stop_time.getMinutes()+":"+stop_time.getSeconds()
        console.log(stop_time)
        return stop_time
    }

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" crossorigin="anonymous"></script>

<link href="/static/admin/css/vendor/select2/select2.css" type="text/css" media="screen" rel="stylesheet">
<link href="/static/admin/css/autocomplete.css" type="text/css" media="screen" rel="stylesheet">
<link href="/static/autocomplete_light/select2.css" type="text/css" media="screen" rel="stylesheet">
<script src="/static/admin/js/vendor/select2/select2.full.js"></script>
<script src="/static/autocomplete_light/autocomplete_light.js"></script>
<script src="/static/autocomplete_light/select2.js"></script>
<script src="/static/autocomplete_light/i18n/ko.js"></script>

{% endblock %}