{% extends "main/base_main.html" %}
{% load static %}

{% block content %}
<script src="https://unpkg.com/typeit@8.4.0/dist/index.umd.js"></script>
<div class="container m-5" style="position: relative;">
    <div class="row">
        <section class="border bg-white p-5 my-5 mb-5 text-center shadow-lg">
            <img class="d-block mx-auto mb-4" src="{% static "assets/img/angrycat.jpg" %}" alt="" width="72" height="57">
            <span id="type-effect" class="display-3"></span>
            <span id="type-effect2" class="display-5 "></span>
            <div class="col-lg-6 mt-3 mx-auto">
                <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
            </div>
        </section>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        new TypeIt("#type-effect").
        type("<span class='display-5'>혼공 시대.</span></br>").
        pause(100).
        type("<span class='display-4 fw-bold'><em>새로운 변화가</em></span>").
        pause(100).
        type("</br><span class='display-5'>찾아옵니다.</span>").
        go()
    });
    ScrollOut();
</script>

{% endblock %}