{% extends "main/main_base.html" %}
{% block content %}
{% load static %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>
<link rel="stylesheet" href="{% static 'alertModal.css' %}">

    <div id = "modal", class="modal-overlay">

        <div class="modal-window">
            <div class="close-area">X</div>
            <div class="title">
                <h2>Wake up</h2>
            </div>
            <div class="content">
                <p>일어나세요</p>                
            </div>
        </div>
    </div>


<div>
    <div id="container">
        <video playsinline id="videoElement"></video>
        <br>
        <h2 id="result">DETECT ME</h2>
        <h2 id="count_eye"></h2>
        <h2 id='count_neck'></h2>
    </div>
    
    
    
</div>
<div>
    <canvas id='myChart'></canvas>
    <script>
        
    </script>
</div>



<canvas id="canvas" width="400" height="300"></canvas>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    const video = document.querySelector("#videoElement");

    function setVideo() {
        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices
                .getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function (errMsg) {
                    console.log(errMsg);
                });
        }
        video.width = 400;
        video.height = 300;
    }

    function getFrameData() {
        context.drawImage(video, 0, 0, video.width, video.height);
        var data = canvas.toDataURL('image/png', 1.0);
        context.clearRect(0, 0, video.width, video.height);

        return data;
    }

    function isUserAwake(result){
        return result['userAwakeState'] == '0';
    }

    function isUserNeckOkay(result){
        return result['userNeckState'] == '0';
    }

    const FPS = 2;
    const THRESHOLD = 5;
    var count = 0;
    var count2 = 0;

    function displayModal(param_type){
        document.body.style.overflow = 'hidden'; 
        modal.style.display = 'flex';

        // prevent overflow
        if(param_type == 'eye'){
            count = THRESHOLD;
        }else{
            count2 = THRESHOLD;
        }
        
    }

    function closeModal(param_type){
        document.body.style.overflow = 'auto';
        modal.style.display = 'none';
        if(param_type == 'eye'){
            count = 0
        }else{
            count2 = 0
        }
    }

    window.addEventListener("keyup", e => {
        if(modal.style.display === "flex" && e.key === "Escape") {
            closeModal();
        }
    })

    // const closeBtn = modal.querySelector(".close-area")
    // closeBtn.addEventListener("click", e => {
    //         closeModal();
    // })

    modal.addEventListener("click", e => {
    const evTarget = e.target
    if(evTarget.classList.contains("modal-overlay")) {
        closeModal();
    }
    if(evTarget.classList.contains("close-area")) {
        closeModal();
    }
})

    function monitorEye(){
        $.ajax({
            type: "POST",
            url: "../predict_eyes/detectme2",
            data: { data: getFrameData() },
            success: function (result) {
                if (isUserAwake(result)) {
                    count++;
                    if (count >= THRESHOLD) {
                        displayModal('eye');
                    }
                } else {
                    closeModal('eye');
                }

                $('#count_eye').text(count);
                console.log(result);
            },
            error: function () {
                console.log('통신 실패');
            },
        });
    }

    function monitorNeck(){
        $.ajax({
            type: "POST",
            url: "../predict_eyes/detectneck",
            data: { data: getFrameData() },
            success: function (result) {
                if (isUserNeckOkay(result)) {
                    count2++;
                    if (count2 >= THRESHOLD) {
                        displayModal('neck');
                    }
                } else {
                    closeModal('neck');
                }

                $('#count_neck').text(count2);
                console.log(result);
            },
            error: function () {
                console.log('통신 실패');
            },
        });
    }

    setVideo();
    setInterval(function () {
        monitorEye();
    }, 1000 / FPS);
    setInterval(function () {
        monitorNeck();
    }, 2000 / FPS);

    const config = {
        type:'line',
        data:{
            datasets:[
                {
                    label : 'isEyeClosed',
                    backgroundColor:'rgba(255, 99, 132, 0.5)',
                    borderColor: 'rgb(255, 99, 132)',
                    fill: true,
                    data:[]
                },
                {
                    label : 'isNeckOkay',
                    backgroundColor:'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgb(54, 162, 235)',
                    cubicInterpolationMode: 'monotone',
                    fill: true,
                    data:[]
                }
            ]
        },
        options:{
            scales:{
                x:{
                    type:'realtime',
                    realtime:{
                        delay: 500,
                        onRefresh: chart => {
                            chart.data.datasets[0].data.push({
                                x: Date.now(),
                                y: count
                            })
                            chart.data.datasets[1].data.push({
                                x: Date.now(),
                                y: count2
                            })

                        }
                    }
                }
            }
        }
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>

{% endblock %}