<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>    
        #video {
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            /* Safari and Chrome */
            -moz-transform: rotateY(180deg);
            /* Firefox */
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <div id="container">
        <video autoplay playsinline id="videoElement"></video>
        <canvas id="canvas"  width="400" height="300"></canvas>
        <br>
        <h2 id="rslt">DETECT ME</h2>
    </div>

      
    <script>
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        const video = document.querySelector("#videoElement");

        video.width = 400;
        video.height = 300;

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices
                .getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function (errMsg) {
                    console.log(errMsg)
                });
        }
        const FPS = 2;

        function ajaxTest(){
            context.drawImage(video, 0, 0, video.width, video.height);
            var data = canvas.toDataURL();//'image/jpeg', 0.5);
            context.clearRect(0, 0, video.width, video.height);

            $.ajax({
                type : "POST",
                url : "/detectme",
                data : {data:data},
                success : function(result) {
                    $('#rslt').text(result['userState']);
                    console.log(result);
                },
                error : function() {
                    console.log('통신 실패');
                },

            });
        }
        playAlert = setInterval(function() {
            ajaxTest();
        }, 10000);//1000 / FPS);

    </script>


</body>

</html>