{% extends "main/base_main.html" %}

{% block content %}
<div id="container">
    <video playsinline id="videoElement"></video>
    <br>
    <h2 id="result">DETECT ME</h2>
    <h2 id="count"></h2>
    <canvas id="canvas" width="400" height="300"></canvas>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    const video = document.querySelector("#videoElement");

    video.width = 400;
    video.height = 300;

    function setVideo() {
        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices
                .getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function (errMsg) {
                    console.log(errMsg)
                });
        }
    }

    function getFrameData() {
        context.drawImage(video, 0, 0, video.width, video.height);
        var data = canvas.toDataURL('image/png', 1.0);
        context.clearRect(0, 0, video.width, video.height);

        return data
    }

    function isUserAwake(result){
        return result['userAwakeState'] == '0'
    }

    const FPS = 2;
    const THRESHOLD = 15;
    var count = 0;
    function monitorUser() {
        $.ajax({
            type: "POST",
            url: "../predict_eyes/detectme2",
            data: { data: getFrameData() },
            success: function (result) {
                if (isUserAwake(result)) {
                    count++;
                    if (count >= THRESHOLD) {
                        alertUser()

                        // prevent overflow
                        count = THRESHOLD
                    }
                } else {
                    count = 0;
                }

                $('#count').text(count);
                console.log(result);
            },
            error: function () {
                console.log('통신 실패');
            },
        });
    }

    setVideo()
    setInterval(function () {
        monitorUser();
    }, 1000 / FPS);

</script>

{% endblock %}