.pagination {
    display: flex;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
}

.content_box{
    color : white;
    height: 100px;
}

.contour{
    height: 2px; 
    background-color: white;
}

.buffer{
    height: 0px; 
}

.table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    color: lightgrey;
}

textarea {
    width: 100%;
}

input[type=submit] {
    margin-top: 10px;
}

#btn_write{
    float:right;color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}